VITE_SUPABASE_URL=https://sbjbvpskkenpgoieuqyv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNiamJ2cHNra2VucGdvaWV1cXl2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzOTIyODIsImV4cCI6MjA5OTk2ODI4Mn0.pPlhoelTFC4v16hO3FcpevNafYJ-gA7mhf3LzuQNxMo

